/* Write your global styles here, in PostCSS syntax */

/* .info {
	font-size: rfs(4rem);
} */

fieldset {
	position: relative;
	border: none;
}

select {
	min-width: 40%;
	width: 40%;
}

select:focus {
	min-width: 50%;
	width: 100%;
}

textarea {
	margin-top: 1%;
	width: auto;
}

.tier {
	background-color: rgba(139, 106, 95, 1);
	border-radius: 10px;
	fill: rgba(139, 106, 95, 1);
	height: 100%;
	width: 100%;
}

.form-option {
	display: flex;
	flex-direction: column;
}